{% extends "layout.html" %}
{% set pageId = "page-home" %}
{% set pageTitle = "Ecoleta" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <!-- O responsivo sempre fica por último-->
    <link rel="stylesheet" href="/styles/responsive/resp-home.css">
{% endblock styles %}

{% block content %}
    <div class="content">
        <header>
            <!--A largura de um h3(block: linha inteira) é diferente de um a(inline: tamanho do escrito)-->
            <img src="/assets/logo.svg" alt="Logomarca: Ecoleta">

            <a href="/create-point">
                <span></span>
                Cadastre um ponto de coleta
            </a>
        </header>
        <main>
            <h1>Seu marketplace de coleta de resíduos</h1>

            <p>Ajudamos pessoas a encontrarem pontos de coleta eficiente.</p>

            <a href="#">
                <span></span>
                <strong>
                    Pesquisar pontos de coleta
                </strong>
            </a>
        </main>
    </div>
{% endblock content %}

{% block modal %}
    {% include "parcials/modal.html" %}
{% endblock modal %}

{% block modal2 %}
    {% if fail %}
        {% include "parcials/fail.html"%}
    {% endif %}
{% endblock modal2 %}

{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock scripts %}